{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<form action="{{ url_for('profile_add') }}" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="well well-lg">
           <label for="username" class="control-label">User Name </label>  {{ form.username }} <br />
           <label for="first_name" class="control-label">First Name </label> {{ form.first_name }}<br />
           <label for="last_name" class="control-label">Last Name </label> {{ form.last_name }}<br />
           <label for="age" class="control-label">Age </label> {{ form.age }} <br />
           <label for="sex" class="control-label">Sex </label> {{ form.sex }}<br />
           <label  class="control-label"> Image </label><input type="file" name="image"><br />
           <input type="submit" class="btn btn-success"/>
        </div>
    </div>
</form> 
{% endblock %}
