{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="container">
    {% from "_form_helpers.html" import render_field %}
    <form action="/profile" method="post" enctype="multipart/form-data">
        <div class="well well-lg">
            {{ render_field(form.username) }} <br />
            {{ render_field(form.first_name)}}<br />
            {{ render_field(form.last_name) }}<br />
            {{ render_field(form.age) }} <br />
            {{ render_field(form.sex) }}<br />
            {{ render_field(form.image) }}<br />
            <input type="submit" class="btn btn-success"/>
        </div>
    </form>
</div>
{% endblock %}
